.Header {
  background: #fff;
  box-shadow: 0 3px 34px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 10;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .Header-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 17px;
  }

  .Header-nav {
    flex: 1.8;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      padding: 0 17px;
      text-transform: uppercase;
      font: 700 14px/80px 'Roboto', sans-serif;
      letter-spacing: 0.025em;
    }

    a {
      color: #000;

      &:hover {
        text-decoration: none;
        color: $active-prim;
      }
    }
  }

  .Header-nav--right {
    flex: 1;
    align-content: flex-end;

    ul { text-align: right; }
  }

  .Header-hamburger { display: none; }
 
  &.is-active {
    .Header-content {
      display: block;
      position: fixed;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: #fff;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.16);
      z-index: -1;
      box-sizing: border-box;
      padding: 100px 0 0;
    }

    .Header-nav {
      ul {
        text-align: left;
      }

      li {
        display: block;
        line-height: 60px;
        text-align: center;

        a {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .Header .Header-content { display: none; }

  .Header .Header-hamburger { display: block; }

  .Header .container { justify-content: space-between; }
}